<h1 class="pb-3">Our Vision</h1>
{{#each data}}
<div class="clearfix mb-3">
    <a href="?request=visions/{{id}}" class="text-decoration-none">
        <img src="{{thumbpath}}" alt="{{name}}" class="float-start rounded-4 me-3">
        <h3 class="text-black">{{name}}</h3>
        <div class="text-black-50 text-justify pe-3">{{summary}}</div>
    </a>
</div>
{{/each}}