<h1>Blogs</h1>
{{#each data}}
<div class="my-5 clearfix">
    <h4>{{name}}</h4>
    <p class="text-black-50">
        by {{author}} in <a href="#" onclick="loadData('blogs/{{id}}', 'blogs-content-template', 'blogs')">Blog.
            {{id}}</a> on {{formatDate date}}. <a href="#" onclick="goToComments('{{id}}')">Comments
            ({{comments.length}})</a>
    </p>
    <img src="{{thumbpath}}" alt="{{name}}" class="rounded-4 float-start me-3">
    <p class="text-justify pe-3 text-black-50">{{summary}}</p>
    <a href="#" onclick="seeDetails('{{id}}')">Read more</a>
</div>
{{/each}}

{{#pagination currentPage pageCount}}
<nav aria-label="Page navigation" id="blogs-pagination">
    <ul class="pagination    ">
        {{#each pages}}
        {{#if isCurrent}}
        <li class="page-item disabled" aria-current="page">
            <a class="page-link" href="#" onclick="loadBlogs('{{../../request}}', parseInt('{{page}}'))">{{page}}</a>
        </li>
        {{/if}}
        {{#unless isCurrent}}
        <li class="page-item"><a class="page-link" href="#"
                onclick="loadBlogs('{{../../request}}', parseInt('{{page}}'))">{{page}}</a></li>
        {{/unless}}
        {{/each}}
    </ul>
</nav>
{{/pagination}}